h1 {
    color:aqua;
    font-size: 24px;
}
/*the following targets everything in the page!*/
* {
    background: rgb(195, 110, 124);
}
/* you can make classes with the .*/
.style-text {
    color:bisque;
}
/* ID are denoted by the # in front */
#new-style-text {
    color:blueviolet;
    background-color: palevioletred;
}

.bunny {
    padding: 25px;
    margin: 50px;
    border: 1px solid brown;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    /* you have top, right, bottom , left*/
}

.paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* stadard practices - rem is for fon sizing while pixels are for everything else */
    font-size: 1rem;
    font-weight: normal;
} 
/* make a personal website about who we are where we going to school and stuff - just HTML / CSS */